@media only all and (min-width: 1501px) {
  /* Splash Page */
  /* About Page */
  .about-profile-description {
    margin-top: 30px;
  }
}
@media only all and (max-width: 1500px) {
  /* Splash Page */
  /* About Page */
  .about-profile-title {
    font-size: 50px;
    line-height: 40px;
  }
  .big-backslash { font-size: 40px; line-height: 40px; }
  /* Tech Page */
  .about-tech-title {
    font-size: 50px;
    line-height: 50px;
  }
  .tech-item-title {
    font-size: 22px;
  }

  .tech-item-description {
    font-size: 16px;
  }
}
@media only all and (max-width: 1200px) {
  /* Splash Page */
  h1 { font-size: 2.5rem !important; }
  .belinda-heading-text { font-size: 100px; }
  .belinda-heading {
    transform: translate(0%, -30%);
    margin-left: 12%;
   }
  .splash-grid-button-wrapper {
    width: 85%;
  }
  .plans-items-wrapper { margin-top: 200px; }

  .plans-items-li {
    flex-basis: 33%;
    padding: 10px;
  }
  /* About Page */
  .about-profile-title {
    font-size: 40px;
    line-height: 30px;
  }
  .about-profile-description {
    font-size: 14px;
  }
  .big-backslash { font-size: 30px; line-height: 30px; }
  /* Tech Page */
  .about-tech-title {
    font-size: 40px;
    line-height: 40px;
  }
  .tech-item-title {
    font-size: 18px;
  }
  .tech-item-description {
    font-size: 14px;
  }
  /* Subscription Page */
  .subscription-icon-container {
    padding: 40px;
    padding-bottom: 0px;
  }

}
@media only all and (max-width: 1024px) {
  /* Splash Page */
  .belinda-heading-text { font-size: 80px; }
  .belinda-heading {
    transform: translate(0%, -10%);
    margin-left: 10%;
  }
  h1 { font-size: 2.0rem !important; }
  .splash-grid-button-wrapper {
    width: 80%;
  }
  .plans-items-wrapper { margin-top: 100px; }
  .plans-items-ul { padding: 0 !important; }
  .plans-items-li {
    flex-basis: 100%;
    padding: 20%;
  }
  .grid-splash-page-item {
    height: auto;
    flex-basis: 50%;
    padding-top: 50%;
  }
  .splash-grid-button-wrapper { justify-content: center; }
  .splash-image-carousel-img {
    max-height: 150px;
    margin: 4px;
    margin-left: 0px;
  }
  .dropbtn {
    padding: 10px;
  }
  /* About Page */
  .about-profile-title {
    font-size: 20px;
    line-height: 10px;
  }
  .about-profile-description {
    font-size: 11px;
  }
  .big-backslash { font-size: 20px; line-height: 10px; }
  /* Tech Page */
  .about-tech-title {
    font-size: 30px;
    line-height: 30px;
  }
  .tech-item-title {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 20%;
  }
  .tech-item-description {
    font-size: 12px;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  /* Subscription Page */
  .icon-container {
    flex: 50% !important;
    max-width: 50% !important;
    margin-bottom: 10%;
  }
  .video-panel {
    flex: 95% !important;
    max-width: 95% !important;
  }
}



@media only all and (max-width: 768px) {
  /* Splash Page */
  .belinda-heading-text {
    font-size: 60px;
    margin-bottom: 10px;
  }
  .belinda-heading {
    transform: translate(0%, 0%);
    margin-left: 4%;
  }
  .grid-splash-page-item {
    height: auto;
    flex-basis: 50%;
    padding-top: 50%;
  }
  .splash-grid-button-wrapper {
    justify-content: center;
    width: 70%;
  }
  .testimonials-wrapper {
    padding: 10%;
  }
  .icon-wrapper { padding: 10%; }
  .icon-line { width: 10%; }
  .icons { margin-top: 0px; }
  .icon-container { padding-bottom: 40px; }
  h1 { font-size: 1.5rem !important; }

  .banner-wrapper {
    padding-top: 80%;
    background-position: 70% 0%;
  }
  .nav-menu-menu-items {
    display: none;
  }
  .nav-menu-mobile-menu-items {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
  }
  .logo { margin-right: 0px; }
  .navbar-middle {
    text-align: center;
  }
  /* About Page */
  .about-us-profile-section-container {
    padding-top: 45%;
  }
  .about-profile-img-2 {
    background-position: 0% 00%;
  }
  /* Tech Page */
  .about-tech-title {
    font-size: 20px;
    line-height: 20px;
  }
  .about-tech-container { padding: 10%; }

  .about-tech-wrapper {
    flex: 100% !important;
    max-width: 100% !important;
  }
  .about-tech-image { display: none; }
  .about-item-tech-wrapper {
    flex: 50% !important;
    max-width: 50% !important;
  }
  .about-item-tech-wrapper { padding-top: 35%; }
  /* Subscription Page */

  .icon-container {
    flex: 100% !important;
    max-width: 100% !important;
  }
  .subscription-icon-text {
    font-size: 24px;
  }
  .subscription-icon-container {
    padding: 0px;
  }
  .video-caption-text {
    margin-left: 2%;
  }
  .subscription-button { margin-top: 0px; }
  .video-panel {
    flex: 100% !important;
    max-width: 100% !important;
  }
  .subscription-banner-title {
    font-size: 100px;
    margin-bottom: -45px;
  }
}

@media only all and (max-width: 620px) {
  /* Splash Page */
  /* About Page */
  .about-profile-description { font-size: 10px; }
}

@media only all and (max-width: 576px) {
  /* Splash Page */
  /* About Page */
  /* Tech Page */
  .about-tech-wrapper {
    padding-top: 50%;
  }
  .about-tech-title {
    font-size: 30px;
    line-height: 30px;
  }
  .about-tech-container {
    padding: 5%;
    padding-top: 15%;
  }
  .about-tech-description { font-size: 14px; }
  .about-tech-image { display: none; }
  /* Subscription Page */
  .video-caption-text { font-size: 28px; }
  .video-caption-subheading { font-size: 14px; }
}


@media only all and (max-width: 480px) {
  /* Nav Bar */
  .navbar {
    padding: 0 !important;
  }
  .logo { height: 40px; }
  /* Splash Page */
  .banner-subheading {
    font-size: 16px;
  }
  .belinda-heading-text {
    transform: translate(0%, 25%) !important;
    font-size: 50px !important;
    margin-bottom: 30px;
  }
  h1 {
    padding-left: 5%;
    padding-right: 5%;
  }
  .plans-items-ul {
    margin-bottom: -130px;
    padding-top: 130px !important;
  }
  .plans-items-li {
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-bottom: 60%;
  }
  .plans-items-wrapper {
    margin-top: 40px;
  }
  .splash-image-carousel-img {
    max-height: 100px;
  }
  .custom-container-2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .custom-mission {
    padding-left: 30px;
    padding-right: 30px;
    margin: 5%;
  }
  .contact-input-form-subheading {
    font-size: 12px;
  }
  .icons {
    margin-bottom: 0px;
  }
  .grid-splash-page-item-content-line {
    margin-top: 20px;
  }
  .grid-splash-page-item-content-title {
    font-size: 16px;
    white-space: nowrap;
  }
  .contact-input-form { width: 80%; }
  .splash-grid-button-wrapper {
    width: 90%;
  }
  .grid-splash-page-item-content-button { font-size: 14px; }
  .testimonials-wrapper {
    padding: 5%;
  }
  /* About Page */
  .about-us-profile-section-container {
    width: 100% !important;
    flex: 100% !important;
    max-width: 100% !important;
  }
  .about-profile-img-1 {
    background-position: 0% 70%;
  }
  .about-profile-img-2 {
    background-position: 0% 20%;
  }
  .about-us-profile-section-text {
    padding: 5%;
  }
  .about-profile-title {
    font-size: 14px;
    line-height: 8px;
  }
  .big-backslash { font-size: 14px; line-height: 8px; }
  .about-profile-description { font-size: 9px; }
  /* Tech Page */
  .about-tech-wrapper {
    font-size: 20px;
    padding-top: 60%;
  }
  .about-tech-container {
    font-size: 20px;
    padding-top: 8%;
  }
  .about-tech-description { font-size: 12px; }
  .about-item-tech-wrapper {
    flex: 100% !important;
    max-width: 100% !important;
  }
  .about-item-tech-wrapper { padding-top: 50%; }
  .tech-item-title { margin-top: 10%; font-size: 14px; }
  .tech-item-description { font-size: 12px; }
  /* Subscription Page */

  .video-caption-text { font-size: 24px; }
  .video-caption-subheading { font-size: 10px; }
  .subscription-banner-title {
    font-size: 50px;
    margin-bottom: -22px;
  }
  .subscription-banner-wrapper {
    height: 250px;
  }

}
