
@font-face {
  font-family: 'Belinda';
  src: local('Belinda'), url(./fonts/belinda.otf) format('otf');
}

.container-fluid {
  padding: 0 !important;
}

.nav-bar-default {
  white-space: nowrap;
}

.logo {
  height: 50px;
  margin: 10px;
  margin-right: 100px;
}
.nav-menu-container {
  width: 50%;
}

.navbar{
  justify-content: center !important;
}
.navbar-middle {
  text-align: center;
}

.nav-item-container {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}

a {
  text-decoration: none !important;
  color: #313131 !important;
}

a:hover {
  color: pink !important;
}


.dropbtn {
    background-color: #fff;
    color: #313131;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    min-width: 160px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: pink;
}



.banner {
  max-width: 100%;
  width: 100% !important;
  height: 60% !important;

}

.icon {
  max-height: 140px;
  align-self: center;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  border-width: medium;
}

.icon-text {
  margin-top: 20px;
  color: #616161;
}

.icons {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.full-width {
  width: 100%;
  text-align: center;
  margin: auto;
}

.icons-title {
  font-family: Belinda;
  text-align: center;
  padding-top: 75px;
  width: 100%;
}

.icon-container {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.icon-container-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media only all and (min-width: 400px) {
  .icon-container-2 { margin-top: -90px; }
}
@media only all and (min-width: 600px) {
  .icon-container-2 { margin-top: -100px; }
}
@media only all and (min-width: 800px) {
  .icon-container-2 { margin-top: -150px; }
}
@media only all and (min-width: 1000px) {
  .icon-container-2 { margin-top: -200px; }
}
@media only all and (min-width: 1200px) {
  .icon-container-2 { margin-top: -350px; }
}

.stagger-grid-image {
  width: 100%;
}

.white-box {
  border-top: 5px solid #333333;
  margin: -20px 30px 0;
  padding: 20px 20px 29px;
  position: relative;
  background-color: white;
  padding-bottom: 10%;
}

.stagger-grid-container {
  padding: 10%;
  background-color: rgb(244, 237, 229);
  margin-top: 250px;
}

.stagger-grid-title {
  text-align: center;
  width: 100%;
  margin: 5%;
  border-bottom: 1px #616161 solid;

}


//////////////////////


.shopping-item-list-container {

}

ul {
  list-style-type: none;
  color: #313131;
  padding-left: 20px;
}

.show-ul {
  list-style-type: disc !important;
}

.side-menu-items {

}

.shopping-item-icon-img {
  width: 20%;
  height: auto;
}

.shopping-item-icon-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 300px;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.shopping-item-side-menu {
  box-sizing: border-box;
  white-space: nowrap;
  align-self: flex-start;
  margin-top: 20px;
}

.shopping-item-main-menu {
  box-sizing: border-box;
}

.shopping-item-wrapper {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: row;
  user-select: none;
  justify-content: center;
  align-items: center;
}

.shopping-item-container {
   max-width: 1400px;
   margin: auto;
   display: flex;
   user-select: none;
   justify-content: center;
   align-items: center;
}

.shopping-item-picture {
  display: block;
  height: 75%;
  border-bottom: 0px #e1e1e1 solid;
  padding-bottom: 40px;
}

.shopping-item-info {
  z-index: 0;
  user-select: none;
  text-transform: uppercase;
  text-align: left;
  margin: 20px;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(37,36,34,.8);
  height: 25%;
}

.shopping-item-title {

}

.shopping-item-price {
  font-weight: 550;
}

 .shopping-item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
    width: 100%;
    margin: 0;
    height: 450px;
}

@media only all and (min-width: 768px) {
  .shopping-item {
      width: calc(50% - 10px);
      margin: 0 5px;
  }
}

@media only all and (min-width: 800px) {
  .shopping-item {
      width: calc(33.33333% - 10px);
  }
}

@media only all and (min-width: 1280px) {
  .shopping-item {
      width: calc(25% - 10px);
  }
}

.test {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.shopping-item-detail-container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.detail-item-picture {
  width: 75%;
  padding-left: 30px;
}

.detail-add-cart {
  width: 100%;
  background-color: #333333;
  color: #fff;
  border: none;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 43px;
  height: 44px;
  padding: 0 30px;
}

.shopping-item-detail-left-container {
  display: flex;
  flex-direction: column;

}

.detail-item-grid-picture {
  width: 100%;
  padding-bottom: 20px;
}

.detail-form {
  width: 100%;
  border-top: 1px #a1a1a1 solid;
  padding-top: 30px;

}

select {
  line-height: 30px;
  padding: 5px 10px;
  margin: 0;
  border: 1px solid #DDDDDD;
  color: #333333;
  background-color: #FFFFFF;
}

.select-detail {
  width: 45%;
  margin-right: 5px;
}

.input-zipcode {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 18px;
}

.detail-info-title-description {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 18px;
}

////////////////////////////////

.Checkout-continue-button {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
  background-color: #000000;
  padding: 10px 12px;
  border: 1px solid transparent;
}

.Order-summary-element {
  width: 100%;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #919191;
}

.Order-summary-left-element {
  display: inline-block;
  width: 50%;
  text-align: left;
}


////////////////////////////



.Checkout-container {
  width: 60%;
  margin: auto !important;
}

.Checkout-top-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Checkout-middle-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 30px;
  padding-bottom: 30px;

}

.Checkout-bottom-container {
  width: 100%;
}

.Checkout-navigation-title {
  font-family: Roboto;
  color: #919191;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 400;
}

.Section-selected {
  color: #313131;
  font-weight: 500;
}

@media only all and (max-width: 999px) {
  .Checkout-container {
    width: 100%;
    padding: 20px;
    margin: auto;
  }
  .Checkout-middle-container {
    display: block;
  }
}

@media only all and (min-width: 1000px) {
  .Checkout-container {
    width: 90%;
    padding: 20px;
    margin: auto;
  }
}

@media only all and (min-width: 1200px) {
  .Checkout-container {
    width: 80%;
    padding: 20px;
    margin: auto;
  }
}

.Checkout-left-element {
  width: 50%;
  padding: 20px;
}

.Checkout-right-element {
  width: 30%;
  padding: 20px;
}

.Input-box {
  width: 100%;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 100;
  font-family: Roboto;
  padding: 8px 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  border: 1px solid #919191;
  background-color: #fff;
}

.Card-row {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 100;
  width: 100%;
  display: flex;
}

.Card-row-element {
  width: calc(50% - 10px);
  text-transform: none !important;
}

.Card-row-spacer {
  width: 20px;
}

.Card-row-names {
  padding-top: 0px;
  padding: 0px 0px;
}

.invalid {
  border-color: #ef2d2d;
}

.rb {
  font-family: Roboto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.Input-box {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.Shipping-info {
  font-family: Roboto;
  color: #313131;
}

.Shipping-button {
  width: 30%;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
  background-color: #000000;
  padding: 10px 12px;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 15px;
}

.Checkout-submit-button {
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
  background-color: #000000;
  padding: 10px 12px;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 15px;
}

.Checkout-submit-button-3 {
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
  background-color: #000000;
  padding: 10px 12px;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 15px;
}
.Checkout-submit-button-3:hover {
  background-color: pink;
}
.Checkout-submit-button-3:focus {
  background-color: pink;
}
.Checkout-submit-button-3::selection {
  background-color: pink;
}

.shopping-item-icon-img:hover {
  opacity: 0.5;
}
.shopping-item-icon-img:focus {
  opacity: 0.5;
}
.shopping-item-icon-img::selection {
  opacity: 0.5;
}

.custom-container-2 {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #57496F;
  background-image: url("https://d1raprm0ezfai1.cloudfront.net/Website+images+used/Photo+Fillers/shutterstock_725407360.jpg");
}

.custom-mission {
  align-self: center;
  padding: 30px;
  width: 500px;
  background-color: #000;
  color: #fff;
}

.grid-splash-page-item {
  height: 100%;
  background-color: grey;
}

.grid-splash-page-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}

.Shipping-button-unselected {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

.hide {
  display: none;
}

.h3 {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 15px;
}

.Nav-link {
  text-decoration: underline;
}

.Info-container {
  width: 50%;
  display: inline-block;
  margin-bottom: 30px;
}

.Info-top-container {
  width: 100%;
  display: block;
}

@media only all and (max-width: 999px) {
  .Checkout-left-element {
    width: 100%;
  }
}

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border: 1px solid #919191;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  margin-bottom: 15px;
  margin-top: 5px;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

////////////////////////////////////////////


.cart-item-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: Roboto;
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}

.ib {
  display: inline-block;
}

.cart-middle-item {
  width: 30%;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  color: #313131;
}

.cart-middle-left-item {
  width: 50%;
  text-align: left;

}

.cart-middle-right-item {
  width: 50%;
  text-align: right;
}

.cart-right-item {
  width: 40%;
  text-align: center;
}

.cart-item-img {
  width: 20%;
}

.cart-item-title {
  text-align: left;
}

.cart-item-price {
  text-align: right;
}

.cart-item-quantity {
  padding-left: 10px;
  padding-right: 20px;
}
@media only all and (min-width: 750px) {
  .ctr {
    display: flex;
    justify-content: center !important;
  }
}

.plans-items-wrapper {
  width: 100%;
  background-color: #57496F;
  margin-top: 200px;
}
.plans-items-ul {
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  list-style: none;
}
.plans-items-li {
  flex-basis: 33%;
  margin-top: -172px !important;
  list-style: none;
  margin: 10px;
}
.plans-item-img {
  width: calc(100%);
  border: none;
}
.plans-item-content {
  border-top: 5px solid #333333;
  margin: -20px 30px 0;
  padding: 20px 20px 29px;
  position: relative;
  background-color: white;
}
.plans-item-content-header {
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
}
.plans-item-content-body {
  margin-bottom: 20px;
}
.plans-item-content-button {
  margin: auto;
  width: 60%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 100;
  color: #fff;
  background-color: #000000;
  padding: 5px;
  border: 1px solid transparent;
  white-space: nowrap;
}
