body {
  font-family: 'Muli', sans-serif !important;
}

.avenir {
  font-family:"Avenir LT W01_45 Book1475508" !important;
}

.avenir-book {
  font-family:"Avenir LT W01_45 Book1475508" !important;
}

.subheading {
  font-family: 'Muli', sans-serif !important;
  font-size: 14px;
}

.container-fluid {
  padding: 0 !important;
}

/*

  Navigation Component

*/

.nav-bar-default {
  white-space: nowrap;
}

.logo {
  height: 50px;
  margin: 10px;
  margin-right: 100px;
}
.nav-menu-container {
  width: 50%;
}

.nav-menu-mobile-menu-items {
  display: none;
}

.menu-icon {
  height: 30px;
}

.nav-menu-items-wrapper {
  position: absolute;
  right: 0;
  display: inline-flex;
  height: 100%;
  align-items: center;
}

.nav-menu-menu-items {

}

.navbar{
  justify-content: center !important;
}
.navbar-middle {
  position: relative;
  width: 80%;
  max-width: 800px;
}

.nav-item-container {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}

a {
  text-decoration: none !important;
  color: #313131 !important;
}

a:hover {
  color: pink !important;
}


.dropbtn {
    background-color: #fff;
    color: #313131;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    min-width: 160px;
    white-space: nowrap;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: pink;
}

.banner-wrapper {
  width: 100%;
  padding-top: 50%;
  position: relative;
  background-image: url("https://d1raprm0ezfai1.cloudfront.net/Website+images+used/Photo+Fillers/_shutterstock_6583532773.jpg");
  background-size: cover;
  background-position: center;
}

.banner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  width: 100% !important;
  height: 100%;

}

.icon {
  max-height: 140px;
  align-self: center;
  padding-bottom: 20px;
  border-width: medium;
}

.icon-line {
  width: 30%;
  border-bottom: 3px solid black;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.icon-text {
  margin-top: 20px;
  color: #616161;
}

.icons {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.full-width {
  width: 100%;
  text-align: center;
  margin: auto;
}

.icons-title {
  text-align: center;
  padding-top: 60px;
  width: 100%;
}

.icons-title-2 {
  text-align: center;
  padding-top: 30px;
  width: 100%;
}

.belinda {
  font-family: "Belinda W05 Regular" !important;
}

.belinda-heading-wrapper {
  font-family: "Belinda W05 Regular";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  font-size: 120px;
}

.belinda-heading {
  top: 50%;
  transform: translate(0%, -20%);
  text-align: left;
  margin-left: 15%;
  position: relative;
}

.belinda-heading-2 {
  height: 100%;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-subheading {
  margin-top: -20px;
  color: #313131;
  font-size: 24px;
}

.belinda-heading-text {
  text-shadow:rgba(0, 0, 0, 0.4) 0px 4px 5px;
  margin-top: -100px;
}

.icon-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.icon-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 18% !important;
}

.icon-container-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media only all and (min-width: 400px) {
  .icon-container-2 { margin-top: -90px; }
}
@media only all and (min-width: 600px) {
  .icon-container-2 { margin-top: -100px; }
}
@media only all and (min-width: 800px) {
  .icon-container-2 { margin-top: -150px; }
}
@media only all and (min-width: 1000px) {
  .icon-container-2 { margin-top: -200px; }
}
@media only all and (min-width: 1200px) {
  .icon-container-2 { margin-top: -350px; }
}

.stagger-grid-image {
  width: 100%;
}

.white-box {
  border-top: 5px solid #333333;
  margin: -20px 30px 0;
  padding: 20px 20px 29px;
  position: relative;
  background-color: white;
  padding-bottom: 10%;
}

.stagger-grid-container {
  padding: 10%;
  background-color: rgb(244, 237, 229);
  margin-top: 250px;
}

.stagger-grid-title {
  text-align: center;
  width: 100%;
  margin: 5%;
  border-bottom: 1px #616161 solid;

}


//////////////////////


.shopping-item-list-container {

}

ul {
  list-style-type: none;
  color: #313131;
  padding-left: 20px;
}

.show-ul {
  list-style-type: disc !important;
}

.side-menu-items {

}

.shopping-item-icon-img {
  width: 20%;
  height: auto;
}

.shopping-item-icon-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 300px;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.shopping-item-side-menu {
  box-sizing: border-box;
  white-space: nowrap;
  align-self: flex-start;
  margin-top: 20px;
}

.shopping-item-main-menu {
  box-sizing: border-box;
}

.shopping-item-wrapper {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: row;
  user-select: none;
  justify-content: center;
  align-items: center;
}

.shopping-item-container {
   max-width: 1400px;
   margin: auto;
   display: flex;
   user-select: none;
   justify-content: center;
   align-items: center;
}

.shopping-item-picture {
  display: block;
  height: 75%;
  border-bottom: 0px #e1e1e1 solid;
  padding-bottom: 40px;
}

.shopping-item-info {
  z-index: 0;
  user-select: none;
  text-transform: uppercase;
  text-align: left;
  margin: 20px;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(37,36,34,.8);
  height: 25%;
}

.shopping-item-title {

}

.shopping-item-price {
  font-weight: 550;
}

 .shopping-item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
    width: 100%;
    margin: 0;
    height: 450px;
}

@media only all and (min-width: 768px) {
  .shopping-item {
      width: calc(50% - 10px);
      margin: 0 5px;
  }
}

@media only all and (min-width: 800px) {
  .shopping-item {
      width: calc(33.33333% - 10px);
  }
}

@media only all and (min-width: 1280px) {
  .shopping-item {
      width: calc(25% - 10px);
  }
}

.test {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.shopping-item-detail-container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.detail-item-picture {
  width: 75%;
  padding-left: 30px;
}

.detail-add-cart {
  width: 100%;
  background-color: #333333;
  color: #fff;
  border: none;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 43px;
  height: 44px;
  padding: 0 30px;
}

.shopping-item-detail-left-container {
  display: flex;
  flex-direction: column;

}

.detail-item-grid-picture {
  width: 100%;
  padding-bottom: 20px;
}

.detail-form {
  width: 100%;
  border-top: 1px #a1a1a1 solid;
  padding-top: 30px;

}

select {
  line-height: 30px;
  padding: 5px 10px;
  margin: 0;
  border: 1px solid #DDDDDD;
  color: #333333;
  background-color: #FFFFFF;
}

.select-detail {
  width: 45%;
  margin-right: 5px;
}

.input-zipcode {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 18px;
}

.detail-info-title-description {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 18px;
}

////////////////////////////////

.Checkout-continue-button {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
  background-color: #000000;
  padding: 10px 12px;
  border: 1px solid transparent;
}

.Order-summary-element {
  width: 100%;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #919191;
}

.Order-summary-left-element {
  display: inline-block;
  width: 50%;
  text-align: left;
}


/*
  Checkout
*/

.Checkout-container {
  width: 60%;
  margin: auto !important;
}

.Checkout-top-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Checkout-middle-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 30px;
  padding-bottom: 30px;

}

.Checkout-bottom-container {
  width: 100%;
}

.Checkout-navigation-title {
  font-family: Roboto;
  color: #919191;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 400;
}

.Section-selected {
  color: #313131;
  font-weight: 500;
}

@media only all and (max-width: 999px) {
  .Checkout-container {
    width: 100%;
    padding: 20px;
    margin: auto;
  }
  .Checkout-middle-container {
    display: block;
  }
}

@media only all and (min-width: 1000px) {
  .Checkout-container {
    width: 90%;
    padding: 20px;
    margin: auto;
  }
}

@media only all and (min-width: 1200px) {
  .Checkout-container {
    width: 80%;
    padding: 20px;
    margin: auto;
  }
}

.Checkout-left-element {
  width: 50%;
  padding: 20px;
}

.Checkout-right-element {
  width: 30%;
  padding: 20px;
}

.Input-box {
  width: 100%;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 100;
  font-family: Roboto;
  padding: 8px 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  border: 1px solid #919191;
  background-color: #fff;
}

.Card-row {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 100;
  width: 100%;
  display: flex;
}

.Card-row-element {
  width: calc(50% - 10px);
  text-transform: none !important;
}

.Card-row-spacer {
  width: 20px;
}

.Card-row-names {
  padding-top: 0px;
  padding: 0px 0px;
}

.invalid {
  border-color: #ef2d2d;
}

.rb {
  font-family: Roboto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.Input-box {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.Shipping-info {
  font-family: Roboto;
  color: #313131;
}

.Shipping-button {
  width: 30%;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
  background-color: #000000;
  padding: 10px 12px;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 15px;
}

.Checkout-submit-button {
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
  background-color: #000000;
  padding: 10px 12px;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 15px;
}

.Checkout-submit-button-3 {
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
  background-color: #000000;
  padding: 10px 12px;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 15px;
}
.Checkout-submit-button-3:hover {
  background-color: pink;
}
.Checkout-submit-button-3:focus {
  background-color: pink;
}
.Checkout-submit-button-3::selection {
  background-color: pink;
}

.shopping-item-icon-img:hover {
  opacity: 0.5;
}
.shopping-item-icon-img:focus {
  opacity: 0.5;
}
.shopping-item-icon-img::selection {
  opacity: 0.5;
}

.custom-container-2 {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #57496F;
  background-image: url("https://d1raprm0ezfai1.cloudfront.net/Website+images+used/Marble.png");
  background-size: cover;
}

.custom-container-3 {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(244, 237, 229);
  margin-top: 50px;
}

.custom-mission {
  align-self: center;
  padding-bottom: 60px;
  padding-left: 100px;
  padding-right: 100px;
  width: 600px;
  background-color: #000;
  color: #fff;
}

.grid-splash-page-item {
  height: auto;
  flex-basis: 25%;
  padding-top: 25%;
  position: relative;
}

.grid-splash-page-item-content-img {
  max-height: 100% !important;
}

.grid-splash-page-item-content-line {
  width: 30px;
  border-bottom: 4px solid black;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.grid-splash-page-item-content-line-white {
  width: 30px;
  border-bottom: 4px solid white;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.grid-splash-page-item-content-button {
  width: 100%;
  position: absolute;
  bottom: 30px;
}


.font-white { color: white !important; }
.bg-white { background-color: white; }
.bg-black { background-color: black; }
.bg-pink { background-color: #FCD2C0; }
.bg-grey { background-color: #a1a1a1; }
.bg-yellow { background-color: #FFDE5F; }
.bg-purple { background-color: #D1C8E1; }
.bg-tan { background-color: #E6DCC8; }
.bg-beige { background-color: rgb(244, 237, 229); }
.bg-teal { background-color: #EAF4F6; }


.grid-splash-page-item-content {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: black;
  overflow: hidden;
}

.splash-grid-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  flex-direction: row;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px !important;
}


.grid-splash-page-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}

.Shipping-button-unselected {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

.hide {
  display: none;
}

.h3 {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 15px;
}

.Nav-link {
  text-decoration: underline;
}

.Info-container {
  width: 50%;
  display: inline-block;
  margin-bottom: 30px;
}

.Info-top-container {
  width: 100%;
  display: block;
}

@media only all and (max-width: 999px) {
  .Checkout-left-element {
    width: 100%;
  }
}

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border: 1px solid #919191;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  margin-bottom: 15px;
  margin-top: 5px;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}


/*
  Cart
*/

.cart-item-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: Roboto;
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}

.ib {
  display: inline-block;
}

.cart-middle-item {
  width: 30%;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  color: #313131;
}

.cart-middle-left-item {
  width: 50%;
  text-align: left;

}

.cart-middle-right-item {
  width: 50%;
  text-align: right;
}

.cart-right-item {
  width: 40%;
  text-align: center;
}

.cart-item-img {
  width: 20%;
}

.cart-item-title {
  text-align: left;
}

.cart-item-price {
  text-align: right;
}

.cart-item-quantity {
  padding-left: 10px;
  padding-right: 20px;
}
@media only all and (min-width: 750px) {
  .ctr {
    display: flex;
    justify-content: center !important;
  }
}


/*
  Splash Page
*/

.plans-items-wrapper {
  width: 100%;
  background-color: #57496F;
  margin-top: 200px;
}
.plans-items-ul {
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  list-style: none;
  flex-wrap: wrap;
}
.plans-items-li {
  flex-basis: 33%;
  margin-top: -172px !important;
  list-style: none;
  padding: 10px;
  overflow: hidden;
}
.plans-item-img {
  width: calc(100%);
  border: none;
}
.plans-item-content {
  border-top: 8px solid #333333;
  margin: -20px 30px 0;
  padding: 20px 20px 29px;
  position: relative;
  background-color: white;
  height: 70%;
}
.plans-item-content-header {
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 26px;
  line-height: 20px;
}
.plans-item-content-body {
  margin-bottom: 20px;
}
.plans-item-content-button {
  margin: auto;
  width: 60%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 100;
  color: #fff;
  background-color: #000000;
  padding: 5px;
  border: 1px solid transparent;
  white-space: nowrap;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}

.splash-image-carousel {
  position: relative;
  left: 0 px;
  white-space: nowrap;
  display: flex;
  width: 100%;
  flex-direction: row;
  overflow: hidden;
}
.splash-image-carousel-img {
  max-height: 250px;
  margin: 10px;
  margin-left: 0px;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.text-align-center {
  text-align: center;
}

.testimonials-wrapper-block {
  display: block;
  width: 100%;
}

.testimonials-wrapper {
  max-width: 800px;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.testimonials-heading {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 50px;
}

.footer {
  background-color: black;
  width: 100%;
  height: 100px;
}

.big-quotes {
  font-size: 72px;
}

.bold {
  font-weight: 700;
}

.off-grey {
  color: #616161;
}

.italic {
  font-style: italic;
}

.contact-input-form {
  background-color: black;
  border: none;
  border-bottom: 1px white solid;
  margin: 10px;
  color: white;
  font-size: 12px;
}

.contact-input-form-button {
  margin-top: 10px;
  color: white;
  background-color: black;
  border: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
  font-size: 12px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}


/*
  About Page
*/




.about-us-profile-section-container {
  position: relative;
  padding-top: 35%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.about-us-profile-section-img-container {
  position: absolute;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.about-us-profile-section-text {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10%;
  text-align: center;
}
.about-profile-title {
  font-size: 80px;
  line-height: 70px;
  margin-bottom: 100px;
}
.about-profile-description { color: #00305B; }
.big-backslash { font-size: 70px; line-height: 70px; }

.about-profile-img-1 {
  background-image: url("https://d1raprm0ezfai1.cloudfront.net/Website+images+used/26239593_1256384884462568_199943898728075355_n.jpg");
}
.about-profile-img-2 {
  background-image: url("https://d1raprm0ezfai1.cloudfront.net/Website+images+used/IMG_0987.JPG");
}
.about-profile-img-3 {
  background-position: 20% 0%;
  background-image: url("https://d1raprm0ezfai1.cloudfront.net/Website+images+used/IMG_0988.JPG");
}




/*

  About Tech Page

*/

.about-tech-wrapper {
  position: relative;
  padding-top: 30%;
}

.about-tech-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 15%;
}

.about-tech-title {
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 100px;
}

.about-item-tech-wrapper {
  position: relative;
  padding-top: 25%;
}
.about-tech-item-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}



.tech-item-title {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-top: 20%;
}

.tech-item-description {
  font-size: 18px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.no-margin {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.no-margin-vertical {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.no-overflow {
  overflow: hidden;
}

 .max-height {
   height: 100%;
 }


/*
  Subscription
*/

.subscription-banner-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: url("https://d1raprm0ezfai1.cloudfront.net/Website+images+used/subscriptions/subscription1.jpg");
  background-position: center;
  background-size: cover;
}
.subscription-banner-picture {
  min-width: 100%;
  min-height: 100%;
  flex-shrink: 0;

}
.subscription-banner-title {
  position: absolute;
  bottom: 0;
  margin-bottom: -60px;
  font-size: 140px;
}
.subscription-gold-line {
  width: 120px;
  border-bottom: 3px solid #FFDE5F;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.subscription-icon-container {
  max-width: 1000px;
}

.subscription-icon-text {
  margin-top: 20px;
  color: #616161;
}

.subscription-button {
  margin-top: 80px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.video-panel {
  margin-top: 60px;
  height: 250px;
}

.video-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.video-caption-text {
  margin-left: 35px;
  color: white;
  font-weight: 700;
  font-size: 40px;
}
.video-caption-subheading {
  font-size: 18px;
}
